* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-app {
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-app button {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.grid-box {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  transition: transform 1s ease, background 0.2s ease;
}

.grid-box:hover {
  background: white;
  cursor: pointer;
}

.grid-box.isSelected {
  background-color: white;
}

.grid-box.isSelected p {
  color: black;
}

.complete-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 95px;
  margin-left: 2px;
}

.main-app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
